body {
    font-family: Biotif,Arial,Helvetica,sans-serif;
}

a.custom-card {
    color: inherit;
    text-decoration: none;

}

@media screen and (max-width: 600px) {
    .card-mobile {
        display: flex;
        flex-direction: row;

    }
}
